# Introduction

This Jupyter notebook shows and run the web scrapping part of the processing of the raw data.
The other part is called from python scripts (utils and preprocessing) so it don't goes to long about DF manipulations.

## Imports, libraries & reading raw data files

In [94]:
### IMPORTING FUNCTIONS FROM SCRIPTS ###
from preprocessing import game_data_pp_1, game_data_pp_2, game_data_pp_3, nfl_elo_pp_1, nfl_elo_pp_2, nfl_pp
from utils import to_pickle, from_pickle, search_teams_1, search_teams_2

### LIBRARIES
import pandas as pd
from tqdm import tqdm

import requests
import time
import os
import sys
import pickle

# import multiprocessing as mp

In [95]:
game_data = pd.read_csv('raw_data/game_data.csv', index_col=0)
nfl_elo = pd.read_csv('raw_data/nfl_elo.csv')
nfl = pd.read_excel('raw_data/nfl.xlsx')

C:\Users\Fede\AppData\Local\Temp\ipykernel_9184\2056748694.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  nfl = pd.read_excel('raw_data/nfl.xlsx')

## GAME_DATA FILE

In [96]:
display(game_data)
print(list(game_data.columns))
type(game_data['date'][0])

,link,week,date,ot,rec,opp,team_score,opp_score,o_fistdown,o_yards,...,o_rushy,o_to,d_fistdown,d_yards,d_passy,d_rushy,d_to,ep_offense,ep_defense,ep_st
0,https://www.pro-football-reference.com/teams/c...,1,September 10,NaN,1-0,San Francisco 49ers,34.0,27.0,23.0,367.0,...,84.0,1.0,19.0,393.0,286.0,107.0,2.0,7.82,-0.25,-1.58
1,https://www.pro-football-reference.com/teams/c...,2,September 17,NaN,1-1,Seattle Seahawks,10.0,21.0,17.0,256.0,...,65.0,2.0,20.0,341.0,195.0,146.0,2.0,-8.91,-4.34,-1.06
2,https://www.pro-football-reference.com/teams/c...,3,September 24,NaN,1-2,St. Louis Rams,14.0,16.0,20.0,347.0,...,101.0,4.0,18.0,364.0,301.0,63.0,2.0,1.66,-2.26,-0.99
3,https://www.pro-football-reference.com/teams/c...,4,October 1,NaN,1-3,Atlanta Falcons,10.0,32.0,14.0,187.0,...,26.0,4.0,19.0,405.0,143.0,262.0,1.0,-21.20,3.80,-5.58
4,https://www.pro-football-reference.com/teams/c...,5,October 8,NaN,1-4,Kansas City Chiefs,20.0,23.0,18.0,298.0,...,76.0,1.0,18.0,301.0,262.0,39.0,2.0,-4.13,10.83,-10.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8155,https://www.pro-football-reference.com/teams/w...,13,December 6,NaN,NaN,Pittsburgh Steelers,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8156,https://www.pro-football-reference.com/teams/w...,14,December 13,NaN,NaN,San Francisco 49ers,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8157,https://www.pro-football-reference.com/teams/w...,15,December 20,NaN,NaN,Seattle Seahawks,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8158,https://www.pro-football-reference.com/teams/w...,16,December 27,NaN,NaN,Carolina Panthers,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8159,https://www.pro-football-reference.com/teams/w...,17,January 3,NaN,NaN,Philadelphia Eagles,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

['link', 'week', 'date', 'ot', 'rec', 'opp', 'team_score', 'opp_score', 'o_fistdown', 'o_yards', 'o_passy', 'o_rushy', 'o_to', 'd_fistdown', 'd_yards', 'd_passy', 'd_rushy', 'd_to', 'ep_offense', 'ep_defense', 'ep_st']

str

In [97]:
game_data = game_data_pp_1(game_data)

display(game_data)
print(list(game_data.columns))
type(game_data['date'][0])

c:\Users\Fede\OneDrive\Escritorio\MOVE37AI\preprocessing.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = date
c:\Users\Fede\OneDrive\Escritorio\MOVE37AI\preprocessing.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)

,link,week,Season,date,ot,rec,Abbreviation,opp,team_score,opp_score,...,o_rushy,o_to,d_fistdown,d_yards,d_passy,d_rushy,d_to,ep_offense,ep_defense,ep_st
0,https://www.pro-football-reference.com/teams/c...,1,2006,2006-09-10,NaN,1-0,CRD,San Francisco 49ers,34.0,27.0,...,84.0,1.0,19.0,393.0,286.0,107.0,2.0,7.82,-0.25,-1.58
1,https://www.pro-football-reference.com/teams/c...,2,2006,2006-09-17,NaN,1-1,CRD,Seattle Seahawks,10.0,21.0,...,65.0,2.0,20.0,341.0,195.0,146.0,2.0,-8.91,-4.34,-1.06
2,https://www.pro-football-reference.com/teams/c...,3,2006,2006-09-24,NaN,1-2,CRD,St. Louis Rams,14.0,16.0,...,101.0,4.0,18.0,364.0,301.0,63.0,2.0,1.66,-2.26,-0.99
3,https://www.pro-football-reference.com/teams/c...,4,2006,2006-10-01,NaN,1-3,CRD,Atlanta Falcons,10.0,32.0,...,26.0,4.0,19.0,405.0,143.0,262.0,1.0,-21.20,3.80,-5.58
4,https://www.pro-football-reference.com/teams/c...,5,2006,2006-10-08,NaN,1-4,CRD,Kansas City Chiefs,20.0,23.0,...,76.0,1.0,18.0,301.0,262.0,39.0,2.0,-4.13,10.83,-10.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8155,https://www.pro-football-reference.com/teams/w...,13,2020,2020-12-06,NaN,NaN,WAS,Pittsburgh Steelers,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8156,https://www.pro-football-reference.com/teams/w...,14,2020,2020-12-13,NaN,NaN,WAS,San Francisco 49ers,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8157,https://www.pro-football-reference.com/teams/w...,15,2020,2020-12-20,NaN,NaN,WAS,Seattle Seahawks,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8158,https://www.pro-football-reference.com/teams/w...,16,2020,2020-12-27,NaN,NaN,WAS,Carolina Panthers,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8159,https://www.pro-football-reference.com/teams/w...,17,2020,2020-01-03,NaN,NaN,WAS,Philadelphia Eagles,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

['link', 'week', 'Season', 'date', 'ot', 'rec', 'Abbreviation', 'opp', 'team_score', 'opp_score', 'o_fistdown', 'o_yards', 'o_passy', 'o_rushy', 'o_to', 'd_fistdown', 'd_yards', 'd_passy', 'd_rushy', 'd_to', 'ep_offense', 'ep_defense', 'ep_st']

pandas._libs.tslibs.timestamps.Timestamp

In [98]:
if not os.path.isfile('pickles/TEAMS.pkl'):

    teams = {}
    links = game_data['link']

    ### Looping on game_date links, extracting abbreviations from the link and scrapping the full name on the web page.
    ### Every time it founds a new abbreviation, a new key/value pair is generated and add to the teams dictionary.
    for i, link in tqdm(enumerate(links), total=len(links)):
        URL = link
        pointer = 'teams' # Word just before 3 letter team abbreviation in this link format
        j = link.find(pointer)
        team = link[j+len(pointer)+1 : j+len(pointer)+4].upper() # Extracting abbreviation

        if i > 0 and team == list(teams)[-1]: # Evoid to repeat the process if the team is already added to the dict
            continue
        else:
            r = requests.get(URL)
            parsed = r.text
            loc = parsed.find('meta name="Description" content')

            if loc == -1: # If IP is banned from the server, parsed will not have the needed content: use proxy
                print('Banned IP: use proxy or wait before trying again')
                os.remove('pickles/TEAMS.pkl')
                break
            
            loc = loc + 52
            full_name = parsed[loc:loc+50].split(',', 1)[0]
            full_name = full_name[:-7]

            teams[team] = full_name # Adding new key/value pair to dict

        time.sleep(3) # Sleep to evoid being banned

    os.makedirs('pickles', exist_ok=True)
    to_pickle(teams, filename='pickles/TEAMS.pkl')

    del links

In [99]:
teams = from_pickle('pickles/TEAMS.pkl')

In [100]:
game_data = game_data_pp_2(game_data, teams)

display(game_data)
print(list(game_data.columns))

,Date,Season,Week,Team,Abbreviation,Opposing team,Opposing abbreviation,Score,Opposing score,Overtime,...,Offensive turnovers,Firstdowns allowed,Total yards allowed,Pass yards allowed,Rush yards allowed,Defensive turnovers,Expected points (offense),Expected points (defense),Expected points (special team),Link
0,2006-09-10,2006,1,Arizona Cardinals,CRD,San Francisco 49ers,SFO,34.0,27.0,NaN,...,1.0,19.0,393.0,286.0,107.0,2.0,7.82,-0.25,-1.58,https://www.pro-football-reference.com/teams/c...
1,2006-09-17,2006,2,Arizona Cardinals,CRD,Seattle Seahawks,SEA,10.0,21.0,NaN,...,2.0,20.0,341.0,195.0,146.0,2.0,-8.91,-4.34,-1.06,https://www.pro-football-reference.com/teams/c...
2,2006-09-24,2006,3,Arizona Cardinals,CRD,St. Louis Rams,RAM,14.0,16.0,NaN,...,4.0,18.0,364.0,301.0,63.0,2.0,1.66,-2.26,-0.99,https://www.pro-football-reference.com/teams/c...
3,2006-10-01,2006,4,Arizona Cardinals,CRD,Atlanta Falcons,ATL,10.0,32.0,NaN,...,4.0,19.0,405.0,143.0,262.0,1.0,-21.20,3.80,-5.58,https://www.pro-football-reference.com/teams/c...
4,2006-10-08,2006,5,Arizona Cardinals,CRD,Kansas City Chiefs,KAN,20.0,23.0,NaN,...,1.0,18.0,301.0,262.0,39.0,2.0,-4.13,10.83,-10.26,https://www.pro-football-reference.com/teams/c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8155,2020-12-06,2020,13,Washington Redskins,WAS,Pittsburgh Steelers,PIT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pro-football-reference.com/teams/w...
8156,2020-12-13,2020,14,Washington Redskins,WAS,San Francisco 49ers,SFO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pro-football-reference.com/teams/w...
8157,2020-12-20,2020,15,Washington Redskins,WAS,Seattle Seahawks,SEA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pro-football-reference.com/teams/w...
8158,2020-12-27,2020,16,Washington Redskins,WAS,Carolina Panthers,CAR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pro-football-reference.com/teams/w...
8159,2020-01-03,2020,17,Washington Redskins,WAS,Philadelphia Eagles,PHI,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pro-football-reference.com/teams/w...

['Date', 'Season', 'Week', 'Team', 'Abbreviation', 'Opposing team', 'Opposing abbreviation', 'Score', 'Opposing score', 'Overtime', 'Record', 'Firstdowns gained', 'Total yards gained', 'Pass yards gained', 'Rush yards gained', 'Offensive turnovers', 'Firstdowns allowed', 'Total yards allowed', 'Pass yards allowed', 'Rush yards allowed', 'Defensive turnovers', 'Expected points (offense)', 'Expected points (defense)', 'Expected points (special team)', 'Link']

In [101]:
if not os.path.isfile('pickles/AWAY.pkl'):

    game_data_parsing = game_data[['Season', 'Team', 'Link']]

    away = []
    for i, row in tqdm(game_data_parsing.iterrows(), total = game_data_parsing.shape[0]):
        link = row['Link']

        if (i > 0) and (link == link_last):
            continue
        else:
            URL = link + '#games'
            season = row['Season']
            team = row['Team']
            table_link = requests.get(URL).content
            df_list = pd.read_html(table_link)
            df_bis = df_list[1]
            df_bis.columns = df_bis.columns.droplevel()
            df_bis = df_bis[['Date', 'Unnamed: 8_level_1']]
            try:
                cut_playoffs = df_bis.index[df_bis['Date'] == 'Playoffs'].to_list()[0]
                df_bis = df_bis.iloc[:cut_playoffs, :]
            except:
                pass
            away_set = list(df_bis['Unnamed: 8_level_1'].values)

            gd_temp = game_data[game_data['Team'] == team]
            gd_temp = gd_temp[gd_temp['Season'] == season]

            if len(away_set) != gd_temp.shape[0]:
                raise ValueError(f'Lenghts are not matching for {team} {season} ({link}): {len(away_set)} vs {gd_temp.shape[0]}')

            link_last = link
            away += away_set

        time.sleep(3)

        os.makedirs('pickles', exist_ok=True)
        to_pickle(away, 'pickles/AWAY.pkl')

else:
    away = from_pickle('pickles/AWAY.pkl')

game_data.insert(3, 'Away?', away)

del away

In [102]:
game_data = game_data_pp_3(game_data)

display(game_data)
print(list(game_data.columns))

,Date,Season,Week,Home Team,Abbreviation (home),Away Team,Abbreviation (away),Home Score,Away Score,Overtime,...,Offensive turnovers,Firstdowns allowed,Total yards allowed,Pass yards allowed,Rush yards allowed,Defensive turnovers,Expected points (offense),Expected points (defense),Expected points (special team),Link
0,2006-09-10,2006,1,Arizona Cardinals,CRD,San Francisco 49ers,SFO,34.0,27.0,NaN,...,1.0,19.0,393.0,286.0,107.0,2.0,7.82,-0.25,-1.58,https://www.pro-football-reference.com/teams/c...
1,2006-09-17,2006,2,Seattle Seahawks,SEA,Arizona Cardinals,CRD,21.0,10.0,NaN,...,2.0,20.0,341.0,195.0,146.0,2.0,-8.91,-4.34,-1.06,https://www.pro-football-reference.com/teams/c...
2,2006-09-24,2006,3,Arizona Cardinals,CRD,St. Louis Rams,RAM,14.0,16.0,NaN,...,4.0,18.0,364.0,301.0,63.0,2.0,1.66,-2.26,-0.99,https://www.pro-football-reference.com/teams/c...
3,2006-10-01,2006,4,Atlanta Falcons,ATL,Arizona Cardinals,CRD,32.0,10.0,NaN,...,4.0,19.0,405.0,143.0,262.0,1.0,-21.20,3.80,-5.58,https://www.pro-football-reference.com/teams/c...
4,2006-10-08,2006,5,Arizona Cardinals,CRD,Kansas City Chiefs,KAN,20.0,23.0,NaN,...,1.0,18.0,301.0,262.0,39.0,2.0,-4.13,10.83,-10.26,https://www.pro-football-reference.com/teams/c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8155,2020-12-06,2020,13,Pittsburgh Steelers,PIT,Washington Redskins,WAS,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pro-football-reference.com/teams/w...
8156,2020-12-13,2020,14,San Francisco 49ers,SFO,Washington Redskins,WAS,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pro-football-reference.com/teams/w...
8157,2020-12-20,2020,15,Washington Redskins,WAS,Seattle Seahawks,SEA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pro-football-reference.com/teams/w...
8158,2020-12-27,2020,16,Washington Redskins,WAS,Carolina Panthers,CAR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pro-football-reference.com/teams/w...
8159,2020-01-03,2020,17,Philadelphia Eagles,PHI,Washington Redskins,WAS,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pro-football-reference.com/teams/w...

['Date', 'Season', 'Week', 'Home Team', 'Abbreviation (home)', 'Away Team', 'Abbreviation (away)', 'Home Score', 'Away Score', 'Overtime', 'Record', 'Firstdowns gained', 'Total yards gained', 'Pass yards gained', 'Rush yards gained', 'Offensive turnovers', 'Firstdowns allowed', 'Total yards allowed', 'Pass yards allowed', 'Rush yards allowed', 'Defensive turnovers', 'Expected points (offense)', 'Expected points (defense)', 'Expected points (special team)', 'Link']

## NFL_ELO FILE

In [103]:
display(nfl_elo)
print(list(nfl_elo.columns))
type(nfl_elo['date'][0])

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2
0,1920-09-26,1920,0,NaN,RII,STP,1503.947,1300.000,0.824651,0.175349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0
1,1920-10-03,1920,0,NaN,CBD,PTQ,1504.688,1300.000,0.825267,0.174733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0
2,1920-10-03,1920,0,NaN,RII,MUN,1516.108,1478.004,0.644171,0.355829,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,0.0
3,1920-10-03,1920,0,NaN,DAY,COL,1493.002,1504.908,0.575819,0.424181,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,0.0
4,1920-10-03,1920,0,NaN,RCH,ABU,1503.420,1300.000,0.824212,0.175788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16805,2021-01-17,2020,0,d,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16806,2021-01-17,2020,0,d,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16807,2021-01-24,2020,0,c,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16808,2021-01-24,2020,0,c,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16809,2021-02-07,2020,1,s,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

['date', 'season', 'neutral', 'playoff', 'team1', 'team2', 'elo1_pre', 'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post', 'qbelo1_pre', 'qbelo2_pre', 'qb1', 'qb2', 'qb1_value_pre', 'qb2_value_pre', 'qb1_adj', 'qb2_adj', 'qbelo_prob1', 'qbelo_prob2', 'qb1_game_value', 'qb2_game_value', 'qb1_value_post', 'qb2_value_post', 'qbelo1_post', 'qbelo2_post', 'score1', 'score2']

str

In [104]:
nfl_elo, teams2add, nfl_elo_sub = nfl_elo_pp_1(nfl_elo, sub_num=10)

display(nfl_elo)
print(type(nfl_elo['date'][0]))

display(nfl_elo_sub)

temp = teams2add - set(list(teams.keys()))
print(f'The are {len(temp)} abbreviations without full names')
del temp

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2
0,1920-09-26,1920,0,NaN,RII,STP,1503.947000,1300.000000,0.824651,0.175349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0
1,1920-10-03,1920,0,NaN,CBD,PTQ,1504.688000,1300.000000,0.825267,0.174733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0
2,1920-10-03,1920,0,NaN,RII,MUN,1516.108000,1478.004000,0.644171,0.355829,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,0.0
3,1920-10-03,1920,0,NaN,DAY,COL,1493.002000,1504.908000,0.575819,0.424181,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,0.0
4,1920-10-03,1920,0,NaN,RCH,ABU,1503.420000,1300.000000,0.824212,0.175788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16792,2021-01-03,2020,0,NaN,CIN,BAL,1386.205491,1651.843950,0.239583,0.760417,...,0.228344,0.771656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16793,2021-01-03,2020,0,NaN,IND,JAX,1543.945168,1389.861946,0.779223,0.220777,...,0.802901,0.197099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16794,2021-01-03,2020,0,NaN,SF,SEA,1584.571597,1620.257091,0.542087,0.457913,...,0.488245,0.511755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16795,2021-01-03,2020,0,NaN,LAR,ARI,1581.209202,1442.342221,0.763787,0.236213,...,0.689086,0.310914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16796,2021-01-03,2020,0,NaN,DEN,OAK,1465.883832,1452.729936,0.610613,0.389387,...,0.536497,0.463503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2
4,1920-10-03,1920,0,NaN,RCH,ABU,1503.420,1300.000,0.824212,0.175788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,0.0
13,1920-10-10,1920,0,NaN,RCH,FTP,1510.934,1300.000,0.830391,0.169609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,0.0
22,1920-10-17,1920,0,NaN,RCH,UTI,1523.607,1300.000,0.840420,0.159580,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
31,1920-10-24,1920,0,NaN,RCH,SYR,1513.225,1300.000,0.832241,0.167759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,7.0
41,1920-11-07,1920,0,NaN,RCH,UTI,1501.719,1310.382,0.813906,0.186094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047,1933-12-03,1933,0,NaN,NYG,PIT,1618.316,1258.814,0.920094,0.079906,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,3.0
1066,1934-10-07,1934,0,NaN,PHI,PIT,1404.427,1305.329,0.720033,0.279967,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0
1074,1934-10-14,1934,0,NaN,WSH,PIT,1466.297,1312.593,0.778847,0.221153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,0.0
1079,1934-10-21,1934,0,NaN,NYG,PIT,1569.796,1297.752,0.874372,0.125628,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,7.0
1083,1934-10-28,1934,0,NaN,BKN,PIT,1421.021,1292.528,0.752843,0.247157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,3.0

The are 106 abbreviations without full names

In [105]:
if not os.path.isfile('pickles/TEAMS_final.pkl'):

    nfl_elo_parsing = nfl_elo_sub[['date', 'season', 'team1', 'team2']]

    for _, row in tqdm(nfl_elo_parsing.iterrows(), total = nfl_elo_parsing.shape[0]):
        if len(temp) == 0:
            break
        
        date = row['date']
        season = row['season']
        team1_i = row['team1']
        team2_i = row['team2']
        
        if (team1_i and team2_i) in teams:
            continue

        if team1_i not in teams:
            search_teams_1(season, team1_i, teams)

        if team2_i not in teams:
            search_teams_1(season, team2_i, teams)

        if (team1_i or team2_i) not in teams:
            search_teams_2(date, team1_i, team2_i, teams)

    os.makedirs('pickles', exist_ok=True)
    to_pickle(teams, 'pickles/TEAMS_final.pkl')

    del nfl_elo_parsing

else:
    teams = from_pickle('pickles/TEAMS_final.pkl')

temp = teams2add - set(list(teams.keys()))
print(f'{len(temp)} team names (full and abbreviated) still missing')

49 team names (full and abbreviated) still missing

In [106]:
nfl_elo = nfl_elo_pp_2(nfl_elo, teams)

display(nfl_elo)
print(list(nfl_elo.columns))

temp = teams2add - set(list(teams.keys()))
print(f'The are {len(temp)} abbreviations without full names')
del temp

,date,season,neutral,playoff,Home Team,team1,Away Team,team2,elo1_pre,elo2_pre,...,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2
0,1920-09-26,1920,0,NaN,Rock Island Independents,RII,<NA>,STP,1503.947000,1300.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0
1,1920-10-03,1920,0,NaN,Canton Bulldogs,CBD,<NA>,PTQ,1504.688000,1300.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0
2,1920-10-03,1920,0,NaN,Rock Island Independents,RII,Muncie Flyers,MUN,1516.108000,1478.004000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,0.0
3,1920-10-03,1920,0,NaN,None,DAY,Columbus Tigers,COL,1493.002000,1504.908000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,0.0
4,1920-10-03,1920,0,NaN,Rochester Jeffersons,RCH,<NA>,ABU,1503.420000,1300.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16792,2021-01-03,2020,0,NaN,Cincinnati Bengals,CIN,<NA>,BAL,1386.205491,1651.843950,...,0.228344,0.771656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16793,2021-01-03,2020,0,NaN,None,IND,Jacksonville Jaguars,JAX,1543.945168,1389.861946,...,0.802901,0.197099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16794,2021-01-03,2020,0,NaN,San Francisco 49ers,SF,Seattle Seahawks,SEA,1584.571597,1620.257091,...,0.488245,0.511755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16795,2021-01-03,2020,0,NaN,None,LAR,<NA>,ARI,1581.209202,1442.342221,...,0.689086,0.310914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16796,2021-01-03,2020,0,NaN,Denver Broncos,DEN,Cincinnati Bengals,OAK,1465.883832,1452.729936,...,0.536497,0.463503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

['date', 'season', 'neutral', 'playoff', 'Home Team', 'team1', 'Away Team', 'team2', 'elo1_pre', 'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post', 'qbelo1_pre', 'qbelo2_pre', 'qb1', 'qb2', 'qb1_value_pre', 'qb2_value_pre', 'qb1_adj', 'qb2_adj', 'qbelo_prob1', 'qbelo_prob2', 'qb1_game_value', 'qb2_game_value', 'qb1_value_post', 'qb2_value_post', 'qbelo1_post', 'qbelo2_post', 'score1', 'score2']
The are 49 abbreviations without full names

In [107]:
cols2rename = {'date': 'Date', 'season': 'Season', 'team1': 'Abbreviation (home)', 'team2': 'Abbreviation (away)', 'score1': 'Home Score', 'score2': 'Away Score'}
nfl_elo = nfl_elo.rename(columns=cols2rename)

display(nfl_elo)
print(list(nfl_elo.columns))

,Date,Season,neutral,playoff,Home Team,Abbreviation (home),Away Team,Abbreviation (away),elo1_pre,elo2_pre,...,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,Home Score,Away Score
0,1920-09-26,1920,0,NaN,Rock Island Independents,RII,<NA>,STP,1503.947000,1300.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0
1,1920-10-03,1920,0,NaN,Canton Bulldogs,CBD,<NA>,PTQ,1504.688000,1300.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0
2,1920-10-03,1920,0,NaN,Rock Island Independents,RII,Muncie Flyers,MUN,1516.108000,1478.004000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,0.0
3,1920-10-03,1920,0,NaN,None,DAY,Columbus Tigers,COL,1493.002000,1504.908000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,0.0
4,1920-10-03,1920,0,NaN,Rochester Jeffersons,RCH,<NA>,ABU,1503.420000,1300.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16792,2021-01-03,2020,0,NaN,Cincinnati Bengals,CIN,<NA>,BAL,1386.205491,1651.843950,...,0.228344,0.771656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16793,2021-01-03,2020,0,NaN,None,IND,Jacksonville Jaguars,JAX,1543.945168,1389.861946,...,0.802901,0.197099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16794,2021-01-03,2020,0,NaN,San Francisco 49ers,SF,Seattle Seahawks,SEA,1584.571597,1620.257091,...,0.488245,0.511755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16795,2021-01-03,2020,0,NaN,None,LAR,<NA>,ARI,1581.209202,1442.342221,...,0.689086,0.310914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16796,2021-01-03,2020,0,NaN,Denver Broncos,DEN,Cincinnati Bengals,OAK,1465.883832,1452.729936,...,0.536497,0.463503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

['Date', 'Season', 'neutral', 'playoff', 'Home Team', 'Abbreviation (home)', 'Away Team', 'Abbreviation (away)', 'elo1_pre', 'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post', 'qbelo1_pre', 'qbelo2_pre', 'qb1', 'qb2', 'qb1_value_pre', 'qb2_value_pre', 'qb1_adj', 'qb2_adj', 'qbelo_prob1', 'qbelo_prob2', 'qb1_game_value', 'qb2_game_value', 'qb1_value_post', 'qb2_value_post', 'qbelo1_post', 'qbelo2_post', 'Home Score', 'Away Score']

## NFL FILE

In [108]:
display(nfl)
print(list(nfl.columns))
type(nfl['Date'][0])

,Date,Home Team,Away Team,Home Score,Away Score,Overtime?,Playoff Game?,Neutral Venue?,Home Odds Open,Home Odds Min,...,Total Score Close,Total Score Over Open,Total Score Over Min,Total Score Over Max,Total Score Over Close,Total Score Under Open,Total Score Under Min,Total Score Under Max,Total Score Under Close,Notes
0,2020-10-05,Green Bay Packers,Atlanta Falcons,30,16,NaN,NaN,NaN,1.290000,1.29,...,56.5,1.90,1.9,1.90,1.90,1.90,1.9,1.90,1.90,NaN
1,2020-10-05,Kansas City Chiefs,New England Patriots,26,10,NaN,NaN,NaN,1.310000,1.31,...,53.0,1.90,1.9,1.90,1.90,1.90,1.9,1.90,1.90,NaN
2,2020-10-04,San Francisco 49ers,Philadelphia Eagles,20,25,NaN,NaN,NaN,1.370000,1.28,...,45.0,1.90,1.9,1.90,1.90,1.90,1.9,1.90,1.90,NaN
3,2020-10-04,Las Vegas Raiders,Buffalo Bills,23,30,NaN,NaN,NaN,2.250000,2.25,...,53.0,1.90,1.9,1.86,1.86,1.90,1.9,1.95,1.95,NaN
4,2020-10-04,Los Angeles Rams,New York Giants,17,9,NaN,NaN,NaN,1.160000,1.11,...,48.5,1.86,1.9,1.90,1.90,1.95,1.9,1.90,1.90,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,2006-09-10,Detroit Lions,Seattle Seahawks,6,9,NaN,NaN,NaN,3.500000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3797,2006-09-10,Cleveland Browns,New Orleans Saints,14,19,NaN,NaN,NaN,1.500000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3798,2006-09-10,Carolina Panthers,Atlanta Falcons,6,20,NaN,NaN,NaN,1.434783,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3799,2006-09-10,Arizona Cardinals,San Francisco 49ers,34,27,NaN,NaN,NaN,1.181818,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3800,2006-09-07,Pittsburgh Steelers,Miami Dolphins,28,17,NaN,NaN,NaN,1.800000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

['Date', 'Home Team', 'Away Team', 'Home Score', 'Away Score', 'Overtime?', 'Playoff Game?', 'Neutral Venue?', 'Home Odds Open', 'Home Odds Min', 'Home Odds Max', 'Home Odds Close', 'Away Odds Open', 'Away Odds Min', 'Away Odds Max', 'Away Odds Close', 'Home Line Open', 'Home Line Min', 'Home Line Max', 'Home Line Close', 'Away Line Open', 'Away Line Min', 'Away Line Max', 'Away Line Close', 'Home Line Odds Open', 'Home Line Odds Min', 'Home Line Odds Max', 'Home Line Odds Close', 'Away Line Odds Open', 'Away Line Odds Min', 'Away Line Odds Max', 'Away Line Odds Close', 'Total Score Open', 'Total Score Min', 'Total Score Max', 'Total Score Close', 'Total Score Over Open', 'Total Score Over Min', 'Total Score Over Max', 'Total Score Over Close', 'Total Score Under Open', 'Total Score Under Min', 'Total Score Under Max', 'Total Score Under Close', 'Notes']

pandas._libs.tslibs.timestamps.Timestamp

In [109]:
nfl = nfl_pp(nfl, teams)

display(nfl)
print(list(nfl.columns))

,Date,Home Team,Abbreviation (home),Away Team,Abbreviation (away),Home Score,Away Score,Overtime?,Playoff Game?,Neutral Venue?,...,Total Score Close,Total Score Over Open,Total Score Over Min,Total Score Over Max,Total Score Over Close,Total Score Under Open,Total Score Under Min,Total Score Under Max,Total Score Under Close,Notes
0,2020-10-05,Green Bay Packers,GNB,Atlanta Falcons,ATL,30,16,NaN,NaN,NaN,...,56.5,1.90,1.9,1.90,1.90,1.90,1.9,1.90,1.90,NaN
1,2020-10-05,Kansas City Chiefs,KAN,New England Patriots,NWE,26,10,NaN,NaN,NaN,...,53.0,1.90,1.9,1.90,1.90,1.90,1.9,1.90,1.90,NaN
2,2020-10-04,San Francisco 49ers,SFO,Philadelphia Eagles,PHI,20,25,NaN,NaN,NaN,...,45.0,1.90,1.9,1.90,1.90,1.90,1.9,1.90,1.90,NaN
3,2020-10-04,Las Vegas Raiders,None,Buffalo Bills,BUF,23,30,NaN,NaN,NaN,...,53.0,1.90,1.9,1.86,1.86,1.90,1.9,1.95,1.95,NaN
4,2020-10-04,Los Angeles Rams,None,New York Giants,NYG,17,9,NaN,NaN,NaN,...,48.5,1.86,1.9,1.90,1.90,1.95,1.9,1.90,1.90,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,2006-09-10,Detroit Lions,DET,Seattle Seahawks,SEA,6,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3797,2006-09-10,Cleveland Browns,CLE,New Orleans Saints,NOR,14,19,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3798,2006-09-10,Carolina Panthers,CAR,Atlanta Falcons,ATL,6,20,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3799,2006-09-10,Arizona Cardinals,CRD,San Francisco 49ers,SFO,34,27,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3800,2006-09-07,Pittsburgh Steelers,PIT,Miami Dolphins,MIA,28,17,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

['Date', 'Home Team', 'Abbreviation (home)', 'Away Team', 'Abbreviation (away)', 'Home Score', 'Away Score', 'Overtime?', 'Playoff Game?', 'Neutral Venue?', 'Home Odds Open', 'Home Odds Min', 'Home Odds Max', 'Home Odds Close', 'Away Odds Open', 'Away Odds Min', 'Away Odds Max', 'Away Odds Close', 'Home Line Open', 'Home Line Min', 'Home Line Max', 'Home Line Close', 'Away Line Open', 'Away Line Min', 'Away Line Max', 'Away Line Close', 'Home Line Odds Open', 'Home Line Odds Min', 'Home Line Odds Max', 'Home Line Odds Close', 'Away Line Odds Open', 'Away Line Odds Min', 'Away Line Odds Max', 'Away Line Odds Close', 'Total Score Open', 'Total Score Min', 'Total Score Max', 'Total Score Close', 'Total Score Over Open', 'Total Score Over Min', 'Total Score Over Max', 'Total Score Over Close', 'Total Score Under Open', 'Total Score Under Min', 'Total Score Under Max', 'Total Score Under Close', 'Notes']

## MERGING

In [110]:
print(list(game_data.columns))
print(list(nfl.columns))

['Date', 'Season', 'Week', 'Home Team', 'Abbreviation (home)', 'Away Team', 'Abbreviation (away)', 'Home Score', 'Away Score', 'Overtime', 'Record', 'Firstdowns gained', 'Total yards gained', 'Pass yards gained', 'Rush yards gained', 'Offensive turnovers', 'Firstdowns allowed', 'Total yards allowed', 'Pass yards allowed', 'Rush yards allowed', 'Defensive turnovers', 'Expected points (offense)', 'Expected points (defense)', 'Expected points (special team)', 'Link']
['Date', 'Home Team', 'Abbreviation (home)', 'Away Team', 'Abbreviation (away)', 'Home Score', 'Away Score', 'Overtime?', 'Playoff Game?', 'Neutral Venue?', 'Home Odds Open', 'Home Odds Min', 'Home Odds Max', 'Home Odds Close', 'Away Odds Open', 'Away Odds Min', 'Away Odds Max', 'Away Odds Close', 'Home Line Open', 'Home Line Min', 'Home Line Max', 'Home Line Close', 'Away Line Open', 'Away Line Min', 'Away Line Max', 'Away Line Close', 'Home Line Odds Open', 'Home Line Odds Min', 'Home Line Odds Max', 'Home Line Odds Close', 'Away Line Odds Open', 'Away Line Odds Min', 'Away Line Odds Max', 'Away Line Odds Close', 'Total Score Open', 'Total Score Min', 'Total Score Max', 'Total Score Close', 'Total Score Over Open', 'Total Score Over Min', 'Total Score Over Max', 'Total Score Over Close', 'Total Score Under Open', 'Total Score Under Min', 'Total Score Under Max', 'Total Score Under Close', 'Notes']

In [111]:
print(game_data['Date'].min(), game_data['Date'].max())
print(nfl['Date'].min(), nfl['Date'].max())

2006-01-01 00:00:00 2020-12-28 00:00:00
2006-09-07 00:00:00 2020-10-05 00:00:00

In [112]:
merge_cols = ['Date', 'Home Team', 'Abbreviation (home)', 'Away Team', 'Abbreviation (away)', 'Home Score', 'Away Score']
merge1 = pd.merge(game_data, nfl, how='outer', on=merge_cols)

In [113]:
overtime = []
for i, row in merge1[['Overtime', 'Overtime?']].iterrows():
    if (row[0]== 'OT') or (row[1] == 'Y'):
        overtime.append('OT')
    else:
        overtime.append('nan')

In [114]:
merge1['Overtime'] = overtime
del overtime
merge1 = merge1.drop('Overtime?', axis=1)

display(merge1)
print(list(merge1.columns))

,Date,Season,Week,Home Team,Abbreviation (home),Away Team,Abbreviation (away),Home Score,Away Score,Overtime,...,Total Score Close,Total Score Over Open,Total Score Over Min,Total Score Over Max,Total Score Over Close,Total Score Under Open,Total Score Under Min,Total Score Under Max,Total Score Under Close,Notes
0,2006-09-10,2006,1.0,Arizona Cardinals,CRD,San Francisco 49ers,SFO,34.0,27.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2006-09-10,2006,1.0,Arizona Cardinals,CRD,San Francisco 49ers,SFO,34.0,27.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006-09-17,2006,2.0,Seattle Seahawks,SEA,Arizona Cardinals,CRD,21.0,10.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2006-09-17,2006,2.0,Seattle Seahawks,SEA,Arizona Cardinals,CRD,21.0,10.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006-09-24,2006,3.0,Arizona Cardinals,CRD,St. Louis Rams,RAM,14.0,16.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8439,2007-01-13,NaN,NaN,Baltimore Ravens,RAV,Indianapolis Colts,CLT,6.0,15.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8440,2007-01-07,NaN,NaN,Philadelphia Eagles,PHI,New York Giants,NYG,23.0,20.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8441,2007-01-07,NaN,NaN,New England Patriots,NWE,New York Jets,NYJ,37.0,16.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8442,2007-01-06,NaN,NaN,Seattle Seahawks,SEA,Dallas Cowboys,DAL,21.0,20.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8443,2007-01-06,NaN,NaN,Indianapolis Colts,CLT,Kansas City Chiefs,KAN,23.0,8.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

['Date', 'Season', 'Week', 'Home Team', 'Abbreviation (home)', 'Away Team', 'Abbreviation (away)', 'Home Score', 'Away Score', 'Overtime', 'Record', 'Firstdowns gained', 'Total yards gained', 'Pass yards gained', 'Rush yards gained', 'Offensive turnovers', 'Firstdowns allowed', 'Total yards allowed', 'Pass yards allowed', 'Rush yards allowed', 'Defensive turnovers', 'Expected points (offense)', 'Expected points (defense)', 'Expected points (special team)', 'Link', 'Playoff Game?', 'Neutral Venue?', 'Home Odds Open', 'Home Odds Min', 'Home Odds Max', 'Home Odds Close', 'Away Odds Open', 'Away Odds Min', 'Away Odds Max', 'Away Odds Close', 'Home Line Open', 'Home Line Min', 'Home Line Max', 'Home Line Close', 'Away Line Open', 'Away Line Min', 'Away Line Max', 'Away Line Close', 'Home Line Odds Open', 'Home Line Odds Min', 'Home Line Odds Max', 'Home Line Odds Close', 'Away Line Odds Open', 'Away Line Odds Min', 'Away Line Odds Max', 'Away Line Odds Close', 'Total Score Open', 'Total Score Min', 'Total Score Max', 'Total Score Close', 'Total Score Over Open', 'Total Score Over Min', 'Total Score Over Max', 'Total Score Over Close', 'Total Score Under Open', 'Total Score Under Min', 'Total Score Under Max', 'Total Score Under Close', 'Notes']

In [115]:
merge2 = pd.merge(merge1, nfl_elo, how='outer', on=merge_cols)

In [117]:
display(merge2)
print(list(merge2.columns))

,Date,Season_x,Week,Home Team,Abbreviation (home),Away Team,Abbreviation (away),Home Score,Away Score,Overtime,...,qb1_adj,qb2_adj,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post
0,2006-09-10,2006,1.0,Arizona Cardinals,CRD,San Francisco 49ers,SFO,34.0,27.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2006-09-10,2006,1.0,Arizona Cardinals,CRD,San Francisco 49ers,SFO,34.0,27.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006-09-17,2006,2.0,Seattle Seahawks,SEA,Arizona Cardinals,CRD,21.0,10.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2006-09-17,2006,2.0,Seattle Seahawks,SEA,Arizona Cardinals,CRD,21.0,10.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006-09-24,2006,3.0,Arizona Cardinals,CRD,St. Louis Rams,RAM,14.0,16.0,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24147,2021-01-03,NaN,NaN,Cincinnati Bengals,CIN,<NA>,BAL,NaN,NaN,NaN,...,6.655438,6.294286,0.228344,0.771656,NaN,NaN,NaN,NaN,NaN,NaN
24148,2021-01-03,NaN,NaN,None,IND,Jacksonville Jaguars,JAX,NaN,NaN,NaN,...,9.270607,3.156971,0.802901,0.197099,NaN,NaN,NaN,NaN,NaN,NaN
24149,2021-01-03,NaN,NaN,San Francisco 49ers,SF,Seattle Seahawks,SEA,NaN,NaN,NaN,...,-0.004286,26.596946,0.488245,0.511755,NaN,NaN,NaN,NaN,NaN,NaN
24150,2021-01-03,NaN,NaN,None,LAR,<NA>,ARI,NaN,NaN,NaN,...,10.701240,25.033983,0.689086,0.310914,NaN,NaN,NaN,NaN,NaN,NaN
24151,2021-01-03,NaN,NaN,Denver Broncos,DEN,Cincinnati Bengals,OAK,NaN,NaN,NaN,...,1.956174,22.498434,0.536497,0.463503,NaN,NaN,NaN,NaN,NaN,NaN

['Date', 'Season_x', 'Week', 'Home Team', 'Abbreviation (home)', 'Away Team', 'Abbreviation (away)', 'Home Score', 'Away Score', 'Overtime', 'Record', 'Firstdowns gained', 'Total yards gained', 'Pass yards gained', 'Rush yards gained', 'Offensive turnovers', 'Firstdowns allowed', 'Total yards allowed', 'Pass yards allowed', 'Rush yards allowed', 'Defensive turnovers', 'Expected points (offense)', 'Expected points (defense)', 'Expected points (special team)', 'Link', 'Playoff Game?', 'Neutral Venue?', 'Home Odds Open', 'Home Odds Min', 'Home Odds Max', 'Home Odds Close', 'Away Odds Open', 'Away Odds Min', 'Away Odds Max', 'Away Odds Close', 'Home Line Open', 'Home Line Min', 'Home Line Max', 'Home Line Close', 'Away Line Open', 'Away Line Min', 'Away Line Max', 'Away Line Close', 'Home Line Odds Open', 'Home Line Odds Min', 'Home Line Odds Max', 'Home Line Odds Close', 'Away Line Odds Open', 'Away Line Odds Min', 'Away Line Odds Max', 'Away Line Odds Close', 'Total Score Open', 'Total Score Min', 'Total Score Max', 'Total Score Close', 'Total Score Over Open', 'Total Score Over Min', 'Total Score Over Max', 'Total Score Over Close', 'Total Score Under Open', 'Total Score Under Min', 'Total Score Under Max', 'Total Score Under Close', 'Notes', 'Season_y', 'neutral', 'playoff', 'elo1_pre', 'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post', 'qbelo1_pre', 'qbelo2_pre', 'qb1', 'qb2', 'qb1_value_pre', 'qb2_value_pre', 'qb1_adj', 'qb2_adj', 'qbelo_prob1', 'qbelo_prob2', 'qb1_game_value', 'qb2_game_value', 'qb1_value_post', 'qb2_value_post', 'qbelo1_post', 'qbelo2_post']

In [ ]:
season = 
for date in merge2[['Date', ]]